body{
    font:Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:rgb(248, 243, 243);
  }

.container{
 margin: auto;
 overflow: hidden;

  }
  .huyifhighlight{
    color: goldenrod;
    text-shadow: 1px;
  }
  .brandingbackgroundh1{
    background-color: palegreen;
    padding: 2px 0px 15px 0px;
    border-bottom: rgb(56, 8, 231) 5px solid;
  }

header nav{
    text-align: center;
    background-color: chocolate;
    padding: 15px;
    margin: -1px;
    border-bottom: rgb(56, 8, 231) 5px solid;
}

header li{
    display: inline-block;
    padding: 4px 84px 3px 52px;
    box-shadow: 0 0 10px 0px #33FFFF;
    border-radius: 20px;
    min-width: 3em;
    background-color: #e7a52c;
    border: 3px solid #2f92c1;
    font-size: 30px;
}

header #branding{
    background-color: palegreen;
}

header #branding h1{
    background-color:palegreen;
}

header a{
    text-decoration: none;
    text-align: center;
    color: crimson;
    font-size: 22px;
    font-weight: bold;
}

.huyskillcurrent{
    color:wheat;
}

/*TRANG CHỦ*/

#huyskillshowcase{
    background-image: url(https://img4.thuthuatphanmem.vn/uploads/2020/10/30/hinh-anh-pubg-dep_030927068.jpg);
    background-size: 1600px 600px;
    background-repeat:no-repeat;
    text-align: center;
    min-height: 400px
}

#huyskillshowcase h1{
    text-shadow: -1px 0 5px rgb(211, 53, 14),0 1px 5px rgb(163, 32, 32),1px 0 5px rgb(241, 64, 10), 0 -1px 5px rgb(117, 39, 39);
    color: #e7a52c;
    font-size: 40px;
}

#huyskillnew{
    background-color: dimgrey;
    border-top: rgb(56, 8, 231) 5px solid;
    border-bottom: rgb(56, 8, 231) 5px solid;
}

#huyskillnew h1{
    text-align: center;
    color: wheat;
    font-size: 22px;
    font-weight: bold;
    text-shadow: -1px 0 5px cyan,0 1px 5px red,1px 0 5px cyan, 0 -1px 5px red;
    font-size: 30px;
}

#huyskillboxes .huyskillbox img{
    height: 180px;
    width: 500px;
    }

    #huyskillboxes{
        padding: 0px 0px 50px 0px;
    text-align: center;
    }

    #huyskillboxes .huyskillbox{
        display: inline;
    vertical-align: top;
    width: 30%;
    }
    .huylight{
        color: blue;
    }
    #huyskillboxes p{
        font-size: 20px;
    }

    #huyskillboxes h2{
        font-size: 30px;
    }

/*THÔNG TIN*/
#huyskillthongtin{
    margin: 5px -45px 0px 0px;
}

#huyskillthongtin .huyskillinput{
    vertical-align: top;
    text-align: center;
    width: 30%;
    margin: 15px 0px 15px 30px;
    display: inline-block;

}

.huyskillinput{
padding: 15px;
border: rgb(40,158, 236) solid 5px;
margin-bottom: 5px;
background: rgb(141, 214, 165);
}

.huyskillinput1{
padding: 15px;
border: rgb(40,158, 236) solid 5px;
background: rgb(141, 214, 165);
width: 30%;
margin: -180px 0px 10px 30px;
}

  footer{
    text-align: center;
    color: wheat;
    font-size: 22px;
    font-weight: bold;
    text-shadow: -1px 0 5px cyan,0 1px 5px red,1px 0 5px cyan, 0 -1px 5px red;
    background-color: chocolate;
    padding: 14px 35px 14px 0px;
    border-top: rgb(56, 8, 231) 5px solid;
  }